<div class="container">
  <h1>Contacto</h1>
  <div id="texto" #textos>
    <p appResaltado>
      <!-- <p [hidden]="true"> -->
      Esta es la pagina de contacto, puedes enviarnos cualquier duda.
    </p>
  </div>

  <!-- <input type="text" [(ngModel)]="widthSlider" />
  <button (click)="cargarSlider()">Cargar slider</button>
  <button (click)="resetearSlider()">Resetear slider</button>

  <div *ngIf="anchuraToSlider">
    <slider [anchura]="anchuraToSlider"
    [etiquetas]="captions"
    (getAutor)="getAutor($event)">
  </slider>
  {{autor.nombre + " " + autor.website}}
  </div> -->



</div>